<form action="/tasks"  method="post">
  <h1>Enter a new task:</h1>
  <h2>Task:<br><input type='text' name='task[title]'/><br/></h2>
  <h2>Description:<br><textarea name='task[description]' rows='20' columns='40'></textarea><br/></h2>
  <input type='submit'/>
</form>
